# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.db

# Node.js
node_modules/
.next/
dist/
.env.local
.env.production.local
.env.development.local
.env.test.local

# IDEs
.vscode/
.idea/
.DS_Store
